
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="goog-te-gadget">
    <div id="google_translate_element"></div><script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <style>
      div#google_translate_element div.goog-te-gadget-simple{background-color:#4ED99C;}
      div#google_translate_element div.goog-te-gadget-simple{border-radius: 20px;}
      div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span{color:yellow}
      div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:hover{color:#fff}
    </style>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
  </div>
  <div class="footer-copyright">
    This footer is made with by WeeRun Team <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
