<h1>Welcome to PetBnB</h1>
<p> Find the perfect place to stay and lovely pets to take care of</p>

<div class="container">
  <div class="row">
    <% @pethomes.each do |pethome| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(250,250,250,0.3),rgba(250,250,250,0.2)), url('<%= pethome.pets.first.photo.present? ? pethome.pets.first.photo_url : Pet.default_url  %>')">
          <div class="card-description">
            <h2><%= pethome.address %></h2>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <%= link_to "", pethome, class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>




