<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/62379/pexels-photo-62379.jpeg');">

  <div class="banner-content">


    <h1>Welcome to DenStay</h1>
    <p> Find the perfect place to stay and lovely pets to take care of</p>


    <%= render 'search_form' %>

  </div>
</div>




