.booking_style {
  border: 1px solid green;
  width: 50%;
  text-align: center;
}

th, td {
  padding: 7px;
  border: 1px solid green;
  text-align: center;
}

.image_dog {
   color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: cover;
}

table:last-child {
  margin-bottom: 30px;
}
